.custom-navbar {
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
}
.navbar-text {
  font-size: 18px;
  font-family: "Arial", sans-serif;
}

.navbar-container {
  display: flex;
  text-align: center;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}
